In [1]:
import requests
import json
import time
from datetime import datetime 
import sqlalchemy as sqla
from sqlalchemy import create_engine

URI = "dublinbikesdb.ctnqnsdsyxei.us-east-1.rds.amazonaws.com"
PASSWORD = "Grouptwentysix"
PORT = "3306"
DB = "dbbikes"
USER = "Group26"

engine = create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

def availability_to_db(text):
    stations = json.loads(text)
    now = datetime.now()
    print(type(stations), len(stations)) 
    for station in stations:
        print (station)
        vals = (int(station.get('number')), int(station.get('available_bikes')), int(station.get('available_bike_stands')), datetime.timestamp(now))
        engine.execute("insert into availability values (%s,%s,%s,%s)",vals)
    return

url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=a572dc37b128fb280c9e1621093640367863e160"
response = requests.get(url)
stations = json.loads(response.text)

while True:
    availability_to_db(response.text)
    time.sleep(5*60)

<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677231348000}
2023-02-24 09:39:26,503 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-02-24 09:39:26,505 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-24 09:39:26,820 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-02-24 09:39:26,822 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-24 09:39:26,914 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-02-24 09:39:26,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-24 09:39:27,214 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:27,216 INFO sqlalchemy.engine.Engine [raw sql] (42, 10, 19, 1677231565.537707)
2023-02-24 09:39:27,345 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 3, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677231318000}
2023-02-24 09:39:27,547 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:27,550 INFO sqlalchemy.engine.Engine [raw sql] (30, 17, 3, 1677231565.537707)
2023-02-24 09:39:27,652 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 21, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677231339000}
2023-02-24 09:39:27,962 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:27,963 INFO sqlalchemy.engine.Engine [raw sql] (54, 12, 21, 1677231565.537707)
2023-02-24 09:39:28,074 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 28, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677231154000}
2023-02-24 09:39:28,390 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:28,391 INFO sqlalchemy.engine.Engine [raw sql] (108, 7, 28, 1677231565.537707)
2023-02-24 09:39:28,507 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677231353000}
2023-02-24 09:39:28,696 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:28,697 INFO sqlalchemy.engine.Engine [raw sql] (20, 16, 14, 1677231565.537707)
2023-02-24 09:39:28,916 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677231492000}
2023-02-24 09:39:29,105 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:29,108 INFO sqlalchemy.engine.Engine [raw sql] (56, 21, 19, 1677231565.537707)
2023-02-24 09:39:29,206 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677231089000}
2023-02-24 09:39:29,442 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:29,444 INFO sqlalchemy.engine.Engine [raw sql] (6, 1, 19, 1677231565.537707)
2023-02-24 09:39:29,544 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677231466000}
2023-02-24 09:39:29,744 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:29,747 INFO sqlalchemy.engine.Engine [raw sql] (18, 11, 19, 1677231565.537707)
2023-02-24 09:39:29,964 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 5, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677231388000}
2023-02-24 09:39:30,157 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:30,158 INFO sqlalchemy.engine.Engine [raw sql] (32, 25, 5, 1677231565.537707)
2023-02-24 09:39:30,261 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 21, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677230990000}
2023-02-24 09:39:30,579 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:30,582 INFO sqlalchemy.engine.Engine [raw sql] (52, 11, 21, 1677231565.537707)
2023-02-24 09:39:30,680 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677231012000}
2023-02-24 09:39:31,015 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:31,017 INFO sqlalchemy.engine.Engine [raw sql] (48, 18, 22, 1677231565.537707)
2023-02-24 09:39:31,110 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677230973000}
2023-02-24 09:39:31,308 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:31,310 INFO sqlalchemy.engine.Engine [raw sql] (13, 18, 12, 1677231565.537707)
2023-02-24 09:39:31,412 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677231428000}
2023-02-24 09:39:31,630 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:31,633 INFO sqlalchemy.engine.Engine [raw sql] (43, 0, 30, 1677231565.537707)
2023-02-24 09:39:31,725 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677231006000}
2023-02-24 09:39:32,063 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:32,065 INFO sqlalchemy.engine.Engine [raw sql] (31, 11, 9, 1677231565.537707)
2023-02-24 09:39:32,159 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677231200000}
2023-02-24 09:39:32,354 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:32,356 INFO sqlalchemy.engine.Engine [raw sql] (98, 9, 31, 1677231565.537707)
2023-02-24 09:39:32,456 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677231365000}
2023-02-24 09:39:32,676 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:32,679 INFO sqlalchemy.engine.Engine [raw sql] (14, 21, 9, 1677231565.537707)
2023-02-24 09:39:32,772 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 11, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677231239000}
2023-02-24 09:39:33,112 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:33,114 INFO sqlalchemy.engine.Engine [raw sql] (1, 20, 11, 1677231565.537707)
2023-02-24 09:39:33,206 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677231268000}
2023-02-24 09:39:33,407 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:33,409 INFO sqlalchemy.engine.Engine [raw sql] (23, 29, 1, 1677231565.537707)
2023-02-24 09:39:33,504 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677231212000}
2023-02-24 09:39:33,726 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:33,728 INFO sqlalchemy.engine.Engine [raw sql] (106, 8, 32, 1677231565.537707)
2023-02-24 09:39:33,822 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677231383000}
2023-02-24 09:39:34,355 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:34,358 INFO sqlalchemy.engine.Engine [raw sql] (112, 2, 27, 1677231565.537707)
2023-02-24 09:39:34,450 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677231031000}
2023-02-24 09:39:34,973 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:34,975 INFO sqlalchemy.engine.Engine [raw sql] (68, 6, 34, 1677231565.537707)
2023-02-24 09:39:35,211 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677231400000}
2023-02-24 09:39:35,407 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:35,409 INFO sqlalchemy.engine.Engine [raw sql] (74, 3, 27, 1677231565.537707)
2023-02-24 09:39:35,504 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 23, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677231252000}
2023-02-24 09:39:35,731 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:35,733 INFO sqlalchemy.engine.Engine [raw sql] (87, 15, 23, 1677231565.537707)
2023-02-24 09:39:35,826 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677231314000}
2023-02-24 09:39:36,027 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:36,030 INFO sqlalchemy.engine.Engine [raw sql] (84, 11, 18, 1677231565.537707)
2023-02-24 09:39:36,256 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677231393000}
2023-02-24 09:39:36,445 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:36,447 INFO sqlalchemy.engine.Engine [raw sql] (90, 23, 17, 1677231565.537707)
2023-02-24 09:39:36,540 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677231042000}
2023-02-24 09:39:36,781 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:36,783 INFO sqlalchemy.engine.Engine [raw sql] (11, 9, 21, 1677231565.537707)
2023-02-24 09:39:36,901 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677231260000}
2023-02-24 09:39:37,092 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:37,094 INFO sqlalchemy.engine.Engine [raw sql] (17, 0, 20, 1677231565.537707)
2023-02-24 09:39:37,303 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677231270000}
2023-02-24 09:39:37,494 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:37,496 INFO sqlalchemy.engine.Engine [raw sql] (45, 12, 17, 1677231565.537707)
2023-02-24 09:39:37,697 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677231496000}
2023-02-24 09:39:37,927 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:37,930 INFO sqlalchemy.engine.Engine [raw sql] (114, 40, 0, 1677231565.537707)
2023-02-24 09:39:38,022 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 24, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677231376000}
2023-02-24 09:39:38,353 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:38,356 INFO sqlalchemy.engine.Engine [raw sql] (72, 7, 24, 1677231565.537707)
2023-02-24 09:39:38,448 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 16, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677231276000}
2023-02-24 09:39:38,639 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:38,641 INFO sqlalchemy.engine.Engine [raw sql] (63, 19, 16, 1677231565.537707)
2023-02-24 09:39:38,745 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677231188000}
2023-02-24 09:39:38,975 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:38,977 INFO sqlalchemy.engine.Engine [raw sql] (113, 6, 34, 1677231565.537707)
2023-02-24 09:39:39,078 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677231360000}
2023-02-24 09:39:39,402 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:39,404 INFO sqlalchemy.engine.Engine [raw sql] (91, 11, 18, 1677231565.537707)
2023-02-24 09:39:39,518 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677231260000}
2023-02-24 09:39:39,794 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)
2023-02-24 09:39:39,796 INFO sqlalchemy.engine.Engine [raw sql] (99, 7, 23, 1677231565.537707)
2023-02-24 09:39:39,925 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 1, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677231155000}
2023-02-24 09:39:40,158 INFO sqlalchemy.engine.Engine insert into availability values (%s,%s,%s,%s)