In [1]:
import requests
import json
import sqlalchemy as sqla
from sqlalchemy import create_engine

URI = "dbbikes.ck8yyafvjq4p.eu-west-1.rds.amazonaws.com"
PASSWORD = "Grouptwentysix"
PORT = "3306"
DB = "dbbikes"
USER = "Group26"

engine = create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

def stations_to_db(text):
    stations = json.loads(text)
    print(type(stations), len(stations)) 
    for station in stations:
        print (station)
        vals = (station.get('address'), int(station.get('banking')), station.get('bike_stands'), int(station.get('bonus')), station.get('contract_name'), station.get('name'), station.get('number'), station.get('position').get('lat'), station.get('position').get('lng'), station.get('status'))
        engine.execute("insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)",vals)
    return

url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=a572dc37b128fb280c9e1621093640367863e160"
response = requests.get(url)
stations_to_db(response.text)

<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677495003000}
2023-02-27 10:57:40,995 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-02-27 10:57:40,996 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 10:57:41,024 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-02-27 10:57:41,025 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 10:57:41,048 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-02-27 10:57:41,049 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 10:57:41,075 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,075 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-27 10:57:41,096 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677494908000}
2023-02-27 10:57:41,121 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,121 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Square North', 0, 20, 0, 'dublin', 'PARNELL SQUARE NORTH', 30, 53.3537415547453, -6.26530144781526, 'OPEN')
2023-02-27 10:57:41,131 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 18, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677495271000}
2023-02-27 10:57:41,163 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,164 INFO sqlalchemy.engine.Engine [raw sql] ('Clonmel Street', 0, 33, 0, 'dublin', 'CLONMEL STREET', 54, 53.336021, -6.26298, 'OPEN')
2023-02-27 10:57:41,182 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 35, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677495018000}
2023-02-27 10:57:41,226 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,226 INFO sqlalchemy.engine.Engine [raw sql] ('Avondale Road', 0, 35, 0, 'dublin', 'AVONDALE ROAD', 108, 53.359405, -6.276142, 'OPEN')
2023-02-27 10:57:41,243 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677494938000}
2023-02-27 10:57:41,294 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,294 INFO sqlalchemy.engine.Engine [raw sql] ('James Street East', 0, 30, 0, 'dublin', 'JAMES STREET EAST', 20, 53.336597, -6.248109, 'OPEN')
2023-02-27 10:57:41,305 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677495395000}
2023-02-27 10:57:41,337 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,338 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Street Lower', 0, 40, 0, 'dublin', 'MOUNT STREET LOWER', 56, 53.33796, -6.24153, 'OPEN')
2023-02-27 10:57:41,367 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677494881000}
2023-02-27 10:57:41,389 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,389 INFO sqlalchemy.engine.Engine [raw sql] ('Christchurch Place', 0, 20, 0, 'dublin', 'CHRISTCHURCH PLACE', 6, 53.343368, -6.27012, 'OPEN')
2023-02-27 10:57:41,401 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677495266000}
2023-02-27 10:57:41,433 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,433 INFO sqlalchemy.engine.Engine [raw sql] ('Grantham Street', 0, 30, 0, 'dublin', 'GRANTHAM STREET', 18, 53.334123, -6.265436, 'OPEN')
2023-02-27 10:57:41,454 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677495213000}
2023-02-27 10:57:41,504 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,504 INFO sqlalchemy.engine.Engine [raw sql] ('Pearse Street', 0, 30, 0, 'dublin', 'PEARSE STREET', 32, 53.344304, -6.250427, 'OPEN')
2023-02-27 10:57:41,515 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 9, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677495199000}
2023-02-27 10:57:41,550 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,550 INFO sqlalchemy.engine.Engine [raw sql] ('York Street East', 0, 32, 0, 'dublin', 'YORK STREET EAST', 52, 53.338755, -6.262003, 'OPEN')
2023-02-27 10:57:41,565 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677495162000}
2023-02-27 10:57:41,590 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,590 INFO sqlalchemy.engine.Engine [raw sql] ('Excise Walk', 0, 40, 0, 'dublin', 'EXCISE WALK', 48, 53.347777, -6.244239, 'OPEN')
2023-02-27 10:57:41,610 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 11, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677495382000}
2023-02-27 10:57:41,659 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,660 INFO sqlalchemy.engine.Engine [raw sql] ('Fitzwilliam Square West', 0, 30, 0, 'dublin', 'FITZWILLIAM SQUARE WEST', 13, 53.336074, -6.252825, 'OPEN')
2023-02-27 10:57:41,674 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677495378000}
2023-02-27 10:57:41,747 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,748 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Road', 0, 30, 0, 'dublin', 'PORTOBELLO ROAD', 43, 53.330091, -6.268044, 'OPEN')
2023-02-27 10:57:41,765 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677495343000}
2023-02-27 10:57:41,798 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,799 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Street', 0, 20, 0, 'dublin', 'PARNELL STREET', 31, 53.350929, -6.265125, 'OPEN')
2023-02-27 10:57:41,812 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 10, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677495420000}
2023-02-27 10:57:41,850 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,851 INFO sqlalchemy.engine.Engine [raw sql] ('Frederick Street South', 0, 40, 0, 'dublin', 'FREDERICK STREET SOUTH', 98, 53.341515, -6.256853, 'OPEN')
2023-02-27 10:57:41,862 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677495306000}
2023-02-27 10:57:41,889 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,890 INFO sqlalchemy.engine.Engine [raw sql] ('Fownes Street Upper', 0, 30, 0, 'dublin', 'FOWNES STREET UPPER', 14, 53.344603, -6.263371, 'OPEN')
2023-02-27 10:57:41,910 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 7, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677495195000}
2023-02-27 10:57:41,940 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,941 INFO sqlalchemy.engine.Engine [raw sql] ('Clarendon Row', 0, 31, 0, 'dublin', 'CLARENDON ROW', 1, 53.340927, -6.262501, 'OPEN')
2023-02-27 10:57:41,953 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677495248000}
2023-02-27 10:57:41,985 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:41,986 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House', 0, 30, 0, 'dublin', 'CUSTOM HOUSE', 23, 53.348279, -6.254662, 'OPEN')
2023-02-27 10:57:41,991 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677495264000}
2023-02-27 10:57:42,014 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,015 INFO sqlalchemy.engine.Engine [raw sql] ('Rathdown Road', 0, 40, 0, 'dublin', 'RATHDOWN ROAD', 106, 53.35893, -6.280337, 'OPEN')
2023-02-27 10:57:42,031 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677495022000}
2023-02-27 10:57:42,079 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,079 INFO sqlalchemy.engine.Engine [raw sql] ("North Circular Road (O'Connell's)", 0, 30, 0, 'dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", 112, 53.357841, -6.251557, 'OPEN')
2023-02-27 10:57:42,091 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677495234000}
2023-02-27 10:57:42,116 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,117 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay', 0, 40, 0, 'dublin', 'HANOVER QUAY', 68, 53.344115, -6.237153, 'OPEN')
2023-02-27 10:57:42,121 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677495010000}
2023-02-27 10:57:42,142 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,143 INFO sqlalchemy.engine.Engine [raw sql] ('Oliver Bond Street', 0, 30, 0, 'dublin', 'OLIVER BOND STREET', 74, 53.343893, -6.280531, 'OPEN')
2023-02-27 10:57:42,165 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 36, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677495252000}
2023-02-27 10:57:42,201 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,201 INFO sqlalchemy.engine.Engine [raw sql] ('Collins Barracks Museum', 0, 38, 0, 'dublin', 'COLLINS BARRACKS MUSEUM', 87, 53.347477, -6.28525, 'OPEN')
2023-02-27 10:57:42,211 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677495103000}
2023-02-27 10:57:42,253 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,253 INFO sqlalchemy.engine.Engine [raw sql] ('Brookfield Road', 0, 30, 0, 'dublin', 'BROOKFIELD ROAD', 84, 53.339005, -6.300217, 'OPEN')
2023-02-27 10:57:42,259 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677495331000}
2023-02-27 10:57:42,289 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,289 INFO sqlalchemy.engine.Engine [raw sql] ('Benson Street', 0, 40, 0, 'dublin', 'BENSON STREET', 90, 53.344153, -6.233451, 'OPEN')
2023-02-27 10:57:42,301 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677495319000}
2023-02-27 10:57:42,331 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,332 INFO sqlalchemy.engine.Engine [raw sql] ('Earlsfort Terrace', 0, 30, 0, 'dublin', 'EARLSFORT TERRACE', 11, 53.334295, -6.258503, 'OPEN')
2023-02-27 10:57:42,340 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677495433000}
2023-02-27 10:57:42,360 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,361 INFO sqlalchemy.engine.Engine [raw sql] ('Golden Lane', 0, 20, 0, 'dublin', 'GOLDEN LANE', 17, 53.340803, -6.267732, 'OPEN')
2023-02-27 10:57:42,369 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677495128000}
2023-02-27 10:57:42,392 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,392 INFO sqlalchemy.engine.Engine [raw sql] ('Deverell Place', 0, 30, 0, 'dublin', 'DEVERELL PLACE', 45, 53.351464, -6.255265, 'OPEN')
2023-02-27 10:57:42,398 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 4, 'available_bikes': 36, 'status': 'OPEN', 'last_update': 1677495218000}
2023-02-27 10:57:42,421 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,421 INFO sqlalchemy.engine.Engine [raw sql] ('Wilton Terrace (Park)', 0, 40, 0, 'dublin', 'WILTON TERRACE (PARK)', 114, 53.333653, -6.248345, 'OPEN')
2023-02-27 10:57:42,427 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 29, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677495430000}
2023-02-27 10:57:42,449 INFO sqlalchemy.engine.Engine insert into station values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 10:57:42,450 INFO sqlalchemy.engine.Engine [raw sql] ('John Street West', 0, 31, 0, 'dublin', 'JOHN STREET WEST', 72, 53.343105, -6.277167, 'OPEN')
2023-02-27 10:57:42,461 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 11, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677495416000}